

.container-form {
    width: 100%;
}

.input-custom{
    color: #000;
    border-radius: 4px !important;
    background-color: #f5f5f5 !important;
    padding: 4px !important;
}



::-webkit-input-placeholder {
   margin: 10px;
   color: black;
  
}

:-moz-placeholder {
   margin: 10px;
   color: black;
  
}

::-moz-placeholder {
   margin: 10px;
   color: black;  
   
}

:-ms-input-placeholder {
    margin: 10px;
   color: black;  
   
}

.color-container-white{
    background-color: #f5f5f5;
}

