<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
        <title>Cursos</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <nav class="background-white w-100 flex center margin-20-botton">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a style="color: black" href="/">Inicio</a></li>
                  <li><a style="color: black" href="/cursos">Ver Cursos</a></li>
                  <li><a style="color: black" href="/CadastrarCurso">Cadastrar Cursos</a></li>
                </ul>
            </div>
        </nav>
        <section class="container-title">
                <h1 class="h1-api" >Api Cursos</h1>
        </section>
    </body>
</html>
