<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
        <title>Cursos</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <section class="container">
            <div>
                <h1 class="h1-api" >Api Cursos</h1>
                <div class="container-button">
                    <a href="/cursos" class="button-custom waves-effect waves-light btn">Ver Cursos</a>
                    <a href="/CadastrarCursos" class="button-custom waves-effect waves-light btn">Cadastrar Curso</a>
                </div>
            </div>
        </section>
    </body>
</html>
