<!DOCTYPE html>

 <html>
    <head>
        <title>Cursos</title>
        <!--Import Google Icon Font-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="post">
            <input placeholder="Nome do Curso" value="" name="nome" type="text"/>
            <input placeholder="Data de Cadastro" value="" name="dataCadastro" type="date"/>
            <input placeholder="Data de Inicio" value="" name="dataInicio" type="date"/>
            <input placeholder="Descrição" value="" name="descricao" type="text"/>
            <input placeholder="Ementa" value="" name="ementa" type="text"/>
            <input placeholder="Valor" value="" name="valor" type="number"/>  
            <button type="submit" >Cadastrar</button>
        </form>
    </body>
</html>
